body{
    font-family: 'Roboto', sans-serif;
}
.container{
    padding-bottom: 100px;
}
header{
    background-color: #F0FFF0;
}
.slider img{
    width: 20%;
}
.btn-link{
    padding: 12px 28px;
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.header-content h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
}
.header-content h6{
    color: #FD511A;
    font-size: 16px;
    line-height: 24px;
}
.header-content p{
    margin: 10px 0;
    color: #6C6B6B;
    line-height: 36px; 
}
.header-content span{
    color: #21B573;;
}